h1 {
  margin: 80px 30px 20px 30px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 7rem;
}

.cartButton {
  padding: 20px 30px;
  background-color: black;
  font-size: 1.3rem;
  transition: background 0.5s ease;
  margin-bottom: 50px;
}

.cartButton:hover{
  background-color: green;
  font-size: 1.5rem;
  padding: 16px 22px;
  font-weight: bold;
}

.link-reset {
  text-decoration: none ;
  color: inherit ;
  outline: none ;
}
